@model OpenDiscussion.Models.Discussion 

<form method="post" action="/Discussions/Move/@Model.DiscussionId">
@Html.HiddenFor(d => d.DiscussionId, new {Value = "-1" })
@Html.HiddenFor(d => d.Content, new {Value = "12345678910111213141516"})
@Html.HiddenFor(d => d.Title, new {Value = "12345"})
    <label>Select the topic where you want to move the discussion.</label>
@Html.DropDownListFor(m => m.TopicId, new SelectList(Model.AllTopics, "Value", "Text"),
    "Select the topic", new { @class = "form-control"})

<br />
<button class="id-buton-outline btn" type="submit">Move</button>
</form>
